@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Ralwway', sans-serif;
    height: 100vh;
    background: #333;
    color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2 {
    font-weight: 500;
    margin: 0.4rem;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 2rem;
    color: #aaa;
}   

@media(min-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 40px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }
}